@keyframes bgmove {
    0% {background-position: 0 0;}
    100% {background-position: 450px 0;}
}

body {
    font-family: arial;
    font-size: 16px;
    line-height: 1.5;
    cursor: none;
}

.cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #29044a;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.25s, height 0.25s;
}

.cursor.is-down {
    width: 80px;
    height: 80px;
}

span {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    transition: top 0.25s, left 0.25s;
}

.cursor.is-down span {
    top: 75px;
    left: 75px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
}

.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4d4d4;
    background-image: url(assets/pattern.svg);
    background-size: 400px, 400px;
    animation: bgmove 40s infinite linear;
}

.scratched-out {
    mix-blend-mode: darken;
}

.lineup {
    background-color: #8f8f8f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lineup img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}